@model List<NdhnLab06.Models.NdhnEmployee>

@{
    ViewBag.Title = "Danh sách nhân viên";
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class=" text-center mb-4">Danh sách nhân viên</h2>
        <a href="/NdhnEmployee/NdhnCreate" class="btn btn-primary">Thêm mới</a>
    </div>
    

    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Họ tên</th>
                <th>Ngày sinh</th>
                <th>Email</th>
                <th>Điện thoại</th>
                <th>Lương</th>
                <th>Trạng thái</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ndhnEmp in Model)
            {
                <tr>
                    <td>@ndhnEmp.NdhnId</td>
                    <td>@ndhnEmp.NdhnName</td>
                    <td>@ndhnEmp.NdhnBirthDay.ToString("dd/MM/yyyy")</td>
                    <td>@ndhnEmp.NdhnEmail</td>
                    <td>@ndhnEmp.NdhnPhone</td>
                    <td>@String.Format("{0:N0} VNĐ", ndhnEmp.NdhnSalary)</td>
                    <td>
                        @if (ndhnEmp.NdhnStatus)
                        {
                            <span class="badge bg-success">Đang làm</span>
                        }
                        else
                        {
                            <span class="badge bg-secondary">Nghỉ việc</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
